.section {
  padding-top: 40px;
  padding-bottom: 20px;

  > h1 {
    font-size: 36px;
    line-height: 1.1em;
  }

  > p {
    color: #444;
    max-width: 600px;
  }

  // About
  &:nth-of-type(1) {
    > h1 + span {
      float: right;
      width: 300px;
    }
  }

  // What I do well
  &:nth-of-type(2) {
    > ul {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;

      > li {
        width: 25%;
        padding-right: 30px;
      }
    }
  }

  // Work
  &:nth-of-type(3) {
  }

  // Contact
  &:nth-of-type(4) {
    > ul {
      list-style: none;
      display: flex;
      margin: 0 0 20px;
      padding: 0;

      > li {
        margin-right: 40px;

        > a {
          color: transparent;
          display: block;
          width: 100px;
          height: 100px;
          position: relative;

          &::before {
            content: "";
            display: block;
            position: absolute;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: #ddd;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 50%;
            transition: all 0.5s ease-in-out;
          }

          &:hover::before {
            transform: scale(1.2);
          }
        }

        &:nth-of-type(1) {
          > a {
            &::before {
              background-image: url("../images/phone.svg");
            }
            &:hover::before {
              background-color: #ff851b;
            }
          }
        }

        &:nth-of-type(2) {
          > a {
            &::before {
              background-image: url("../images/mail.svg");
            }
            &:hover::before {
              background-color: #2ecc40;
            }
          }
        }

        &:nth-of-type(3) {
          > a {
            &::before {
              background-image: url("../images/linkedin.svg");
            }
            &:hover::before {
              background-color: #1b86bd;
            }
          }
        }

        &:nth-of-type(4) {
          > a {
            &::before {
              background-image: url("../images/github.svg");
            }
            &:hover::before {
              background-color: #111;
            }
          }
        }
      }
    }
  }
}
